*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.top-navbar{
    background:#061428;
    padding:10px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid rgba(255,255,255,.1);
}

.left-links,
.right-links{
    display:flex;
    gap:20px;
}

.top-navbar a{
    color:#cbd5e1;
    text-decoration:none;
    font-size:14px;
    transition:.3s;
}

.top-navbar a:hover{
    color:#06b6d4;
}